li {
  --interactive-hover: var(--thread-core, #f2d5cf);
  --interactive-active: var(--thread-core, #f2d5cf);

  &:nth-of-type(14n + 1) {
    --channels-default: var(--thread-default, rgba(242, 213, 207, 0.7)); 
    --text-primary: var(--thread-core, #f2d5cf);
    --interactive-muted: var(--thread-muted, #f2d5cf);
  }

  &:nth-of-type(14n + 2) {
    --channels-default: var(--thread-default, rgba(238, 190, 190, 0.7)); 
    --text-primary: var(--thread-core, #eebebe);
    --interactive-muted: var(--thread-muted, #eebebe);
  }

  &:nth-of-type(14n + 3) {
    --channels-default: var(--thread-default, rgba(244, 184, 228, 0.7)); 
    --text-primary: var(--thread-core, #f4b8e4);
    --interactive-muted: var(--thread-muted, #f4b8e4);
  }

  &:nth-of-type(14n + 4) {
    --channels-default: var(--thread-default, rgba(202, 158, 230, 0.7)); 
    --text-primary: var(--thread-core, #ca9ee6);
    --interactive-muted: var(--thread-muted, #ca9ee6);
  }

  &:nth-of-type(14n + 5) {
    --channels-default: var(--thread-default, rgba(231, 130, 132, 0.7)); 
    --text-primary: var(--thread-core, #e78284);
    --interactive-muted: var(--thread-muted, #e78284);
  }

  &:nth-of-type(14n + 6) {
    --channels-default: var(--thread-default, rgba(234, 153, 156, 0.7)); 
    --text-primary: var(--thread-core, #ea999c);
    --interactive-muted: var(--thread-muted, #ea999c);
  }

  &:nth-of-type(14n + 7) {
    --channels-default: var(--thread-default, rgba(239, 159, 118, 0.7)); 
    --text-primary: var(--thread-core, #ef9f76);
    --interactive-muted: var(--thread-muted, #ef9f76);
  }

  &:nth-of-type(14n + 8) {
    --channels-default: var(--thread-default, rgba(229, 200, 144, 0.7)); 
    --text-primary: var(--thread-core, #e5c890);
    --interactive-muted: var(--thread-muted, #e5c890);
  }

  &:nth-of-type(14n + 9) {
    --channels-default: var(--thread-default, rgba(166, 209, 137, 0.7)); 
    --text-primary: var(--thread-core, #a6d189);
    --interactive-muted: var(--thread-muted, #a6d189);
  }

  &:nth-of-type(14n + 10) {
    --channels-default: var(--thread-default, rgba(129, 200, 190, 0.7)); 
    --text-primary: var(--thread-core, #81c8be);
    --interactive-muted: var(--thread-muted, #81c8be);
  }

  &:nth-of-type(14n + 11) {
    --channels-default: var(--thread-default, rgba(153, 209, 219, 0.7)); 
    --text-primary: var(--thread-core, #99d1db);
    --interactive-muted: var(--thread-muted, #99d1db);
  }

  &:nth-of-type(14n + 12) {
    --channels-default: var(--thread-default, rgba(133, 193, 220, 0.7)); 
    --text-primary: var(--thread-core, #85c1dc);
    --interactive-muted: var(--thread-muted, #85c1dc);
  }

  &:nth-of-type(14n + 13) {
    --channels-default: var(--thread-default, rgba(140, 170, 238, 0.7)); 
    --text-primary: var(--thread-core, #8caaee);
    --interactive-muted: var(--thread-muted, #8caaee);
  }

  &:nth-of-type(14n + 14) {
    --channels-default: var(--thread-default, rgba(186, 187, 241, 0.7)); 
    --text-primary: var(--thread-core, #babbf1);
    --interactive-muted: var(--thread-muted, #babbf1);
  }

  &:only-of-type {
    --channels-default: var(--thread-default, rgba(242, 213, 207, 0.7));
    --text-primary: var(--thread-core, #f2d5cf);
    --interactive-muted: var(--thread-muted, #f2d5cf);
  }
}
