/* Window Control Fancy Button By Moonself + squeezbtw */
/* new windows button & hover */
.winButton_c38106 {
    position: relative !important;
    background-color: transparent !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.winButtons_c38106 {
    gap: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.winButton_c38106 svg {
    opacity: 0 !important;
    display: none !important;
}

.winButton_c38106::before {
    content: "" !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold !important;
    width: 14px !important;
    height: 14px !important;
    transition: color 0.3s ease, text-shadow 0.7s ease, transform 0.7s ease-in-out, filter 0.7s ease !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
}
/* close button */
.winButtonClose_c38106::before {
  content: '';
  top: 50% !important;
  left: 40%;
  background-color: #eba9ac;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3E%3C/svg%3E") no-repeat center;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  will-change: transform !important; /* Optimization for animation */
  transform: translate(-50%, -50%) !important;
}
.winButtonClose_c38106:hover::before {
    filter: brightness(1.1) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important; /* Rotation animation */
}
/* Circle Minimze */
.winButtonMinMax_c38106:nth-child(1)::before {
  content: '';
  top: 50% !important;
  left: 40%;
  background-color: #F9e2af;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 12 12'%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-width='2' d='M3 6h6'/%3E%3C/svg%3E") no-repeat center;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  will-change: transform !important; /* Optimization for animation */
}
.winButtonMinMax_c38106:nth-child(1):hover::before {
    filter: brightness(1.2) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
}
/* maxmize window */
.winButtonMinMax_c38106:nth-child(2)::before {
  content: '';
  top: 50% !important;
  left: 40%;
  background-color: #a6e3a1;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11.357 4h1.286c1.084 0 1.958 0 2.666.058c.729.06 1.369.185 1.961.487a5 5 0 0 1 2.185 2.185c.302.592.428 1.233.487 1.961C20 9.4 20 10.273 20 11.357v1.286c0 1.084 0 1.958-.058 2.666c-.06.729-.185 1.369-.487 1.961a5 5 0 0 1-2.185 2.185c-.592.302-1.232.428-1.961.487C14.6 20 13.727 20 12.643 20h-1.286c-1.084 0-1.958 0-2.666-.058c-.728-.06-1.369-.185-1.961-.487a5 5 0 0 1-2.185-2.185c-.302-.592-.428-1.232-.487-1.961C4 14.6 4 13.727 4 12.643v-1.286c0-1.084 0-1.958.058-2.666c.06-.728.185-1.369.487-1.961A5 5 0 0 1 6.73 4.545c.592-.302 1.233-.428 1.961-.487C9.4 4 10.273 4 11.357 4M8.854 6.051c-.605.05-.953.142-1.216.276a3 3 0 0 0-1.311 1.311c-.134.263-.226.611-.276 1.216C6.001 9.471 6 10.264 6 11.4v1.2c0 1.137 0 1.929.051 2.546c.05.605.142.953.276 1.216a3 3 0 0 0 1.311 1.311c.263.134.611.226 1.216.276c.617.05 1.41.051 2.546.051h1.2c1.137 0 1.929 0 2.546-.051c.605-.05.953-.142 1.216-.276a3 3 0 0 0 1.311-1.311c.134-.263.226-.611.276-1.216c.05-.617.051-1.41.051-2.546v-1.2c0-1.137 0-1.929-.051-2.546c-.05-.605-.142-.953-.276-1.216a3 3 0 0 0-1.311-1.311c-.263-.134-.611-.226-1.216-.276C14.529 6.001 13.736 6 12.6 6h-1.2c-1.137 0-1.929 0-2.546.051'/%3E%3C/svg%3E") no-repeat center;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  will-change: transform !important; /* Optimization for animation */
}
.winButtonMinMax_c38106:nth-child(2):hover::before {
    filter: brightness(1.2) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
}


/* CHANGING ICONS */
/* Equicord toolbox Logo */
.vc-toolbox-btn svg path {
  display: none;
}

.vc-toolbox-btn::before {
  content: "";
  position: absolute;
  top: -20;
  left: 0px;
  width: 75%;
  height: 75%;
  background-image: url("https://equicord.org/assets/favicon.png") !important;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}


/* HELP BUTTON */
.button__85643 svg path {
  display: none;
}

.button__85643::before {
  content: "";
  position: absolute;
  left: 0;
  width: 68%;
  height: 68%;
  background-image: url("https://github.com/Lelensz/pixels/blob/main/icons-help.webp?raw=true");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

/* INBOX BUTTON */
.clickable_c99c29 svg path {
  display: none;
}

.clickable_c99c29::before {
  content: "";
  position: absolute;
  top: -20;
  left: 0;
  width: 70%;
  height: 70%;
  background-image: url("https://github.com/Lelensz/pixels/blob/main/icons-inbox.webp?raw=true");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}



/* Nested Discord Icons */
[data-list-item-id] {
    &[data-list-item-id="guildsnav___home"] {
        content: url(https://i.ibb.co/k2Chrfg4/catppuccin.webp);
    }

    &[data-list-item-id="guildsnav___undefined"],
    &[data-list-item-id="guildsnav___create-join-button"],
    &[data-list-item-id="guildsnav___guild-discover-button"] {
        border-radius: 20px;
        width: 80%;
        height: 80%;
        margin-top: 5px;
        margin-left: 5px;

        &[data-list-item-id*="undefined"] {
            content: url(https://i.ibb.co/VYvzbNBY/1353848371424792767.webp); /* Quest */
        }
        &[data-list-item-id*="create-join"] {
            content: url(https://github.com/Lelensz/pixels/blob/main/icons-addserver.webp?raw=true); /* Create Join */
        }
        &[data-list-item-id*="guild-discover"] {
            content: url(https://github.com/Lelensz/pixels/blob/main/icons-discover.webp?raw=true); /* Discover */
        }
    }
}




/* Shared Styles for all Sidebar Icons */
[href="/channels/@me"],
[href="/store"],
[href="/message-requests"],
[href="/shop"],
[href="/quest-home"] {
    
    .avatar__20a53 {
        /* Hide the original SVG */
        svg {
            display: none !important;
        }

        /* Base setup for the new custom icon */
        &::before {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        /* Hover effect applied to all */
        &:hover::before {
            transform: scale(1.2);
            opacity: 0.8;
        }
    }

    /* Unique Icon URLs */
    &[href="/channels/@me"] .avatar__20a53::before {
        background-image: url("https://github.com/Lelensz/pixels/blob/main/icons-friends.webp?raw=true");
    }

    &[href="/store"] .avatar__20a53::before {
        background-image: url("https://github.com/Lelensz/pixels/blob/main/icons-nitro.webp?raw=true");
    }

    &[href="/message-requests"] .avatar__20a53::before {
        background-image: url("https://github.com/Lelensz/pixels/blob/main/icons-message.webp?raw=true");
    }

    &[href="/shop"] .avatar__20a53::before {
        background-image: url("https://github.com/Lelensz/pixels/blob/main/icons-shop01.webp?raw=true");
    }
}

/* hide everything except the Friends tab in the DMs area */
[href="/quest-home"] {
  display: none !important;
}


/* Icon Member Recolor */
[class^=icon] path[d^="M14.5 8a3 3 0 1 0-2."] {
    fill: var(--text-5) !important;
}


/* Status ICON */
/* joystick */
[class^=icon] path[d^="M20.97 4.06c0"] {
    fill: #85c1dc;
}
/* watching */
[class^=icon] path[d^="M4 3a3 3 0 0 0-3"] {
    fill: #ca9ee6;
}
/* Melody */
[class^=icon] path[d^="M8.65 1.51A2"] {
    fill: #f4b8e4;
}

/* in voice*/
[class^=icon] path[d^="M12 3a1 1 0 0 0-1-1h-"],
path[d^="M15.16 16.51c-"], path[d^="M11 2a1 1 0 0 1 1 1v18a1"] {
    fill: #a6d189;
}

/*i'm new here, say hi!*/
[class*=newMemberBadge]:before {
  content: url("https://github.com/Lelensz/pixels/blob/main/New%20Small-1.webp?raw=true");
}
.iconContainer_c00127 {
  content: url("https://github.com/Lelensz/pixels/blob/main/New%20Small-2.webp?raw=true");
  display: inline-block;
}

