* Self Highlight colors, use ThemeAttributes to access */
[data-is-self="true"] .message__5126c {
  --cb-bubble-background: var(--cb-bubble-background-self);
  --cb-bubble-background-hover: var(--cb-bubble-background-hover-self);
  --text-normal: var(--cb-text-normal-self);
  --text-muted: var(--cb-text-muted-self);
  --header-primary: var(--cb-text-muted-self);
  --chatBubblePos: translateX(-1*var(--cb-animation-pos));
  .repliedMessage_c19a55 {
    background: color-mix(in srgb, var(--cb-bubble-background), black 30%)
  }
}
/* Messagelogger colors */
.messagelogger-deleted .message__5126c.message__5126c {
  --cb-bubble-background: rgb(243 140 169 / 10%);
  --cb-bubble-background-hover: hsl(343 81% 75% / 15%) !important;
  --text-normal: #f38ba8;
  --text-muted: #e5668a;
  --header-primary: #e5668a;
}
.messageListItem__5126c {
  margin-left: 68px;
}
.message__5126c:not(.systemMessage__5126c) {
  background: var(--cb-bubble-background);
  margin-left: 0.5rem;
  margin-top: 0.125rem;
  margin-bottom: 0.3rem;
  margin-right: 65px;
  width: fit-content;
  max-width: calc(100% - 9.7rem);
  transform: translateX(0);
  transition: transform var(--hover-push);
  padding: 10px !important;
  border-radius: var(--cb-bubble-corner-radius);
  --chatBubblePos: translateX(var(--cb-animation-pos));
}

.message__5126c.selected__5126c,
.mouse-mode.full-motion .message__5126c:hover {
  background: var(--cb-bubble-background-hover);
}


.theme-dark .message__5126c.selected__5126c,
.theme-dark.mouse-mode.full-motion .message__5126c:hover {
  background: var(--cb-bubble-background-hover);
}

[data-is-self="true"] .message__5126c:not(.systemMessage__5126c, .vc-rdb-review) {
  margin-right: 4rem;
  margin-left: auto;
  max-width: calc(100% - 8.5rem - 20px);
}

[data-is-self="true"] .avatar_c19a55 {
  right: calc(-1 * var(--custom-message-margin-horizontal) - 40px);
  left: unset;
}

[data-is-self="true"] .avatarDecoration_c19a55 {
  right: calc(-1 * var(--custom-message-margin-horizontal) - 44px);
  left: unset;
}

[data-is-self="true"] .message__5126c.replying__5126c {
  transform: translateX(-20px);
}

.messageListItem__5126c:not([data-is-self="true"]):nth-last-child(2) .message__5126c:not(:has(.isSending_c19a55)),
.messageListItem__5126c:nth-last-child(2) .message__5126c:has(.isSending_c19a55) {
  animation: var(--chatbubbleanim);
}

@keyframes chatBubbleAnim {
  from {
    transform: var(--chatBubblePos);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@property --d1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%;
}
@property --mention-bg {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(210, 17%, 53, 0.1);
}
.message__5126c:not(.systemMessage__5126c).mentioned__5126c {
  background: var(--background-mentioned);
  &:hover {
  background: var(--background-mentioned-hover) !important;
  }
}

.avatar_c19a55,
.avatarDecoration_c19a55,
.timestampVisibleOnHover_c19a55 {
  /* Fix avatar, avatar decoration, timestamp position */
  margin-left: -4.5rem;
}

.cozy_c19a55 .timestamp_c19a55 {
  opacity: var(--opacity-timestamp, 0);
  /* overflow: hidden; */
  /* max-width: 0; */
  /* vertical-align: text-bottom; */
  transition: opacity 0.1s, max-width 0.1s;
  /* display: none; */
}

.messageListItem__5126c:hover .timestamp_c19a55 {
  /* max-width: 50px; */
  opacity: 1;
}

.repliedMessage_c19a55+.contents_c19a55>.avatar_c19a55 {
  /* Set avatar position near answer message */
  margin-top: -40px;
}

.repliedMessage_c19a55+.contents_c19a55>.avatarDecoration_c19a55 {
  /* Set avatar decoration position near answer message */
  margin-top: calc(-40px + -0.2rem);
}

/*#endregion Message*/
/*#region Replied preview*/
.repliedMessage_c19a55 {
  padding: 2px;
  border-left: 2px solid;
  border-radius: 2px;
  padding-left: 6px;
  background: var(--bg-4);
}

.mentioned__5126c .repliedMessage_c19a55 {
  background: var(--hover);
}

.repliedMessage_c19a55::before {
  /* Remove repled message "arrow" */
  display: none;
}

.repliedMessage_c19a55 {
  /* Move replied text preview to next line */
  flex-wrap: wrap;
}

.repliedMessage_c19a55>.repliedTextPreview_c19a55 {
  width: calc(100% - 24px);
  /* Preserve space for image thumbnail icon */
}

.repliedTextContent_c19a55 {
  /* Fix add ... in the end of not fitting text */
  display: unset;
}

.replyAvatar_c19a55,
.executedCommandAvatar_c19a55 {
  /* Hide reply avatar */
  display: var(--cb-hide-replied-preview-avatar);
}

.executedCommand_c19a55 {
  /* Fix replied "message with command" preview height */
  height: unset;
}

/* TODO: Somehow fix replied "message with command" preview "used /blahblah" left margin */
/*#endregion Replied preview*/
/*#region Mentioned*/
.mentioned__5126c::before {
  /* Recreate mentioned style to have rounded corners */
  display: none;
}

.mentioned__5126c {
  border-left: var(--cb-mentioned-indicator-width) solid var(--accent-2);
}

.mentioned__5126c .avatar_c19a55 {
  /* Fix avatar indent when mentioned */
  margin-left: calc(-4.5rem - var(--cb-mentioned-indicator-width));
}

/*#endregion Mentioned*/
/*#region Replying*/
.replying__5126c::before {
  /* Recreate replying style to have rounded corners */
  display: none;
}

.replying__5126c {
  border-left: var(--brand-experiment) 2px solid;
}

.replying__5126c .avatar_c19a55 {
  /* Fix avatar indent when replying */
  margin-left: calc(-4.5rem - var(--cb-replying-indicator-width));
}

/*#endregion Replying*/
/*#region Threads*/
.container__9271d {
  background: var(--background-secondary-alt);
  width: -webkit-fill-available;
  margin-top: unset;
}

.hasThread_c19a55::after {
  /* Remove thread "arrow" */
  display: none;
}

/*#endregion Threads*/
/*#region Reactions*/
.reaction_f8896c {
  /* Add background to reactions */
  background: var(--background-primary);
  border-color: hsla(0, calc(var(--saturation-factor, 1) * 0%), 100%, 0.2);
  margin-top: 5px;
}

.theme-light.reaction_f8896c {
  border-color: hsla(0, calc(var(--saturation-factor, 1) * 0%), 0%, 0.2);
}

.reactions_f8896c {
  /* Fix reactions bottom margin */
  margin-bottom: -1px;
  padding-bottom: unset;
}

.reaction_f8896c {
  margin-bottom: unset;
}

.reactionBtn_f8896c {
  /* Fix add reaction button bottom margin */
  margin-bottom: unset;
}

/*#endregion Reactions*/
/*#region Emoji*/
.emojiContainer__75abc {
  width: fit-content;
  height: fit-content;
}

.emoji {
  width: 21px;
  height: 21px;
}

/*#endregion Emoji*/
/*#region Dividers*/
.divider__5126c,
.divider__908e2 {
  /* Fix dividers indents */
  position: relative;
  top: 0px !important;
  margin: 17px 0px !important;
}

/*#endregion Dividers*/
/*#region Alt-text*/
.altText__0f481 {
  /* Fix alt-text indents */
  margin: 10px 0 0 0px;
}

.altText__0f481:empty {
  display: none;
}

/* Reply spine */
.repliedMessageClickableSpine_c19a55 {
  display: none;
}

/*#endregion Alt-text*/
/*#region Quick-action buttons*/
.buttonContainer_c19a55 {
  display: var(--cb-hide-quick-action-buttons);
}

/*#endregion Quick-action buttons*/
/*#region Embeds*/
.container_b7e1cb {
  /* Add gaps between embeds */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reaction_f8896c {
  /* Fix reactions top margin */
  margin-top: unset;
}

.reactions_f8896c {
  /* Fix reactions position */
  width: 100%;
}

/*#endregion Embeds*/
/*#region Images*/
.imageWrapper__178ee {
  border-radius: 4px;
  overflow: hidden;
}

.imageContainer__0f481+.altText__0f481 {
  /* Hide image details */
  display: none;
}

.messageAttachment__5dae1 .imageWrapper__178ee {
  /* Make images same width */
  max-width: 350px !important;
}

.messageAttachment__5dae1 {
  width: 100%;
}

/*#endregion Images*/
/*#region Remove attachment buttons*/
.imageContainer__0f481 {
  position: relative;
}

.removeAttachmentButton__692b5 {
  z-index: 1;
  position: absolute;
  top: 4px;
  right: -4px;
  background: var(--background-primary);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  box-shadow: -0.4px 0.4px 2px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, -10px, 0);
  transition: all 0.1s ease-in-out;
}

/*#endregion Remove attachment buttons*/
/* Replying to */
.message__5126c.replying__5126c {
  transform: translateX(20px);
}
/* Self author gradient */
@container style(--bool-self-gradient: true) {
  [data-is-self="true"] .message__5126c {
    &:hover .contents_c19a55 .username_c19a55 {
      animation: gradientUsernameAnimation_e5de78 1.5s linear infinite;
      &:after {
        opacity: .7;
        transition: opacity .1s ease-in-out;
      }
    }
    .contents_c19a55 .username_c19a55 {
      --custom-gradient-color-1: var(--self-gradient-color-1);
      --custom-gradient-color-2: var(--self-gradient-color-2);
      --custom-gradient-color-3: var(--self-gradient-color-3);
      text-decoration-color: var(--custom-gradient-color-1);
      background: linear-gradient(to right,var(--custom-gradient-color-1),var(--custom-gradient-color-2),var(--custom-gradient-color-1));
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 100px auto;
      -webkit-text-fill-color: transparent;
      &:after {
        background: inherit;
        -webkit-background-clip: text;
        background-clip: text;
        content: attr(data-text) /"";
        inset: 0;
        position: absolute;
        -webkit-text-fill-color: transparent;
        filter: blur(4px);
        opacity: 0;
        text-indent: 0;
        transition: opacity .1s ease-in-out;
        z-index: -1;
      }
    }
  }
}
/* Chat whatsapp background */
@container style(--bool-whatsapp-background: true) {
  .chatContent_f75fb0::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 10%;
    z-index: 0;
    background-image: url("https://media.discordapp.net/attachments/1262494391323590719/1488451029501480991/6mOMbIajrzO.webp?ex=69ccd38b&is=69cb820b&hm=321f49a78d34b2a8191642616b5178efaa718a01b2a2602650676f8714f9e70b&=&format=webp") !important;
    background-size: 412.5px 749.25px;
    pointer-events: none;
  }
}
/* Styled message bubbles with arrow pointing to sender */
@container style(--bool-wa-style-bubbles: true) {
  .message__5126c.groupStart__5126c:not(.systemMessage__5126c) {
    border-top-left-radius: 0;
  }
  [data-is-self="true"] .message__5126c.groupStart__5126c:not(.systemMessage__5126c) {
    border-top-left-radius: var(--cb-bubble-corner-radius);
    border-top-right-radius: 0;
  }
  [data-is-self="true"] .message__5126c.groupStart__5126c:not(.systemMessage__5126c)::before {
    transform: scaleX(-1);
    left: unset;
    right: -8px;
  }
  .message__5126c.groupStart__5126c:not(.systemMessage__5126c)::before {
    content: "";
    position: absolute;
    padding: 10px 6.5px;
    mask-repeat: no-repeat;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 13' height='13' width='8' preserveAspectRatio='xMidYMid meet' class='' version='1.1' x='0px' y='0px' enable-background='new 0 0 8 13'%3E%3Ctitle%3Etail-in%3C/title%3E%3Cpath opacity='0.13' fill='%230000000' d='M1.533,3.568L8,12.193V1H2.812 C1.042,1,0.474,2.156,1.533,3.568z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M1.533,2.568L8,11.193V0L2.812,0C1.042,0,0.474,1.156,1.533,2.568z'%3E%3C/path%3E%3C/svg%3E");
    top: 0;
    left: -8px;
    background: var(--cb-bubble-background);
  }
  .avatar_c19a55,
  .avatarDecoration_c19a55 {
    margin-top: -1rem;
  }
  /* Shift avatar in replied messages up */
  .repliedMessage_c19a55+.contents_c19a55 {
  & > .avatar_c19a55{
    margin-top: -3.8rem;
    }
    & > .avatarDecoration_c19a55 {
      margin-top: -4.1rem;
    }
  }
  /* Fix mentioned message left bar */
  .mentioned__5126c.mentioned__5126c.mentioned__5126c.groupStart__5126c::before {
    display: block;
    background-color: var(--accent-2) !important;
    left: -10px;
  }
  span.messageChipletContainerInner__10651, span.messageText__10651 {
    line-height: unset !important;
  }
  [data-is-self="true"] .message__5126c {
      --background-surface-high: color-mix(in srgb, var(--cb-bubble-background-self) 65%, black);
  }
  .repliedMessage_c19a55 {
      background: var(--background-surface-high);
  }
}
/* Self Author Read Check */
@container style(--bool-author-read-receipt: true) {
  [data-is-self="true"] .message__5126c:not(.systemMessage__5126c) {
    padding-right: 28px !important;
  &::after {
      content: "";
      padding-top: 11px;
      position: absolute;
      padding-left: 16px;
      bottom: 8px;
      right: 8px;
    background: var(--text-5);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 11' height='11' width='16' preserveAspectRatio='xMidYMid meet' class='' fill='none'%3E%3Ctitle%3Emsg-dblcheck%3C/title%3E%3Cpath d='M11.0714 0.652832C10.991 0.585124 10.8894 0.55127 10.7667 0.55127C10.6186 0.55127 10.4916 0.610514 10.3858 0.729004L4.19688 8.36523L1.79112 6.09277C1.7488 6.04622 1.69802 6.01025 1.63877 5.98486C1.57953 5.95947 1.51817 5.94678 1.45469 5.94678C1.32351 5.94678 1.20925 5.99544 1.11192 6.09277L0.800883 6.40381C0.707784 6.49268 0.661235 6.60482 0.661235 6.74023C0.661235 6.87565 0.707784 6.98991 0.800883 7.08301L3.79698 10.0791C3.94509 10.2145 4.11224 10.2822 4.29844 10.2822C4.40424 10.2822 4.5058 10.259 4.60313 10.2124C4.70046 10.1659 4.78086 10.1003 4.84434 10.0156L11.4903 1.59863C11.5623 1.5013 11.5982 1.40186 11.5982 1.30029C11.5982 1.14372 11.5348 1.01888 11.4078 0.925781L11.0714 0.652832ZM8.6212 8.32715C8.43077 8.20866 8.2488 8.09017 8.0753 7.97168C7.99489 7.89128 7.8891 7.85107 7.75791 7.85107C7.6098 7.85107 7.4892 7.90397 7.3961 8.00977L7.10411 8.33984C7.01947 8.43717 6.97715 8.54508 6.97715 8.66357C6.97715 8.79476 7.0237 8.90902 7.1168 9.00635L8.1959 10.0791C8.33132 10.2145 8.49636 10.2822 8.69102 10.2822C8.79681 10.2822 8.89838 10.259 8.99571 10.2124C9.09304 10.1659 9.17556 10.1003 9.24327 10.0156L15.8639 1.62402C15.9358 1.53939 15.9718 1.43994 15.9718 1.32568C15.9718 1.1818 15.9125 1.05697 15.794 0.951172L15.4386 0.678223C15.3582 0.610514 15.2587 0.57666 15.1402 0.57666C14.9964 0.57666 14.8715 0.635905 14.7657 0.754395L8.6212 8.32715Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}
